.goodwe-table {
    width: 100%;
    overflow: auto;
    position: relative;
    border: 1px solid #ebeef5;

    &-table {
        min-width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        font-size: 14px;

        tr:hover {
            td {
                background-color: #f5f7fa;
            }

            &.selected {
                td {
                    background-color: #edf5ff;
                }
            }
        }

        tr.selected {
            td {
                background-color: #edf5ff;
            }
        }

        th {
            border-bottom: 1px solid #ebeef5;
            white-space: nowrap;
            padding: 15px 20px;
            color: #909399;
            background-color: #ffffff;
        }

        td {
            border-bottom: 1px solid #ebeef5;
            white-space: nowrap;
            color: #606266;
            background-color: #ffffff;
            padding: 0;

            &.no-data {
                height: 50px;
                text-align: center;
            }
        }
    }

    &-cell {
        box-sizing: border-box;
        padding: 16px 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__stripe {
        table {
            tbody {
                tr:nth-child(2n) {
                    td {
                        background-color: #fafafa;
                    }
                }

                tr:hover {
                    td {
                        background-color: #f5f7fa;
                    }

                    &.selected {
                        td {
                            background-color: #edf5ff;
                        }
                    }
                }

                tr.selected {
                    td {
                        background-color: #edf5ff;
                    }
                }
            }
        }
    }

    &__border {
        table {

            th,
            td {
                border: 1px solid #ebeef5;

                &:first-child {
                    border-left: none;
                }

                &:last-child {
                    border-right: 1px solid transparent;
                }
            }

            tr:first-child {
                th {
                    border-top: none;
                }
            }

            tr:last-child {
                td {
                    border-bottom: none;
                }
            }
        }
    }

    &__fixed {
        position: sticky;

        // left: 0;
        // &:after {
        //     content: ' ';
        //     display: block;
        //     position: absolute;
        //     width: 30px;
        //     right: -30px;
        //     top: 0;
        //     bottom: 0;
        //     box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, .15)
        // }

        &--right {
            left: auto;

            // right: 0;
            // &:after {
            //     right: auto;
            //     left: -30px;
            //     box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, .15)
            // }
        }
    }

    &__shadow {
        &--left {
            &:after {
                content: ' ';
                display: block;
                position: absolute;
                width: 30px;
                right: -30px;
                top: 0;
                bottom: 0;
                box-shadow: inset 10px 0 8px -8px rgba(0, 0, 0, .15)
            }
        }

        &--right {
            &:after {
                content: ' ';
                display: block;
                position: absolute;
                width: 30px;
                left: -30px;
                top: 0;
                bottom: 0;
                box-shadow: inset -10px 0 8px -8px rgba(0, 0, 0, .15)
            }
        }
    }
}